{% extends "apka/base.html" %}

{% block title %}
    Zwrot produktu
{% endblock %}

{% block content %}
<div class="container">
<br><center>
<p style="font-size: 40px;"><b>
Przykro Nam! <br>Coś poszło nie tak, strona której szukasz <br> nie istnieje ;((<b><br>
 	<div style="text-align: center;">
	<button type="button" class="btn btn-outline-dark">
	<a style="padding:10px;" href="/">Powrót do strony głównej</a>
	</button>
<img src="https://s3.amazonaws.com/polishbike/error.gif"><br><br><br>


	
</center>

</div>
</div><br>
{% endblock %}