{% extends "apka/base.html" %}

{% block title %}
    Zwrot | Internetowy modowy sklep rowerowy
{% endblock %}

{% block content %}
<div class="container">
<br>
    <h4><b>Koszt wysyłki</b></h4>
    <br><br>
	<center><h3><b>Wysyłka realizowana jest <span style="text-decoration: underline;"> w ciągu 2 dni</span> od daty otrzymania zamówienia. Natomiast całkowity czas realizacji zależy od firmy kurierskiej.</h3></b></center>
	<br><br>

	<b>Wysyłka realizowana jest na trzy możliwe sposoby tj.</b><br><center><br><br>
	» Kurier InPost  - pobranie (koszt: 20 zł)<br><br>
	» Paczkomaty InPost - pobranie (koszt: 20 zł)<br><br>
	» Poczta Polska - pobranie (koszt: 20 zł)<br>
	
	<img src="https://s3.amazonaws.com/polishbike/icon-3420268_640.png"> 
	</center><br>

		
	   </div><br>
{% endblock %}