{% extends "apka/base.html" %}

{% block title %}
    Regulamin | Internetowy modowy sklep rowerowy
{% endblock %}

{% block content %}
<div class="container">
<br>
    <h4><b>Regulamin</b></h4>
<p style="text-align:justify;"> 
</br>
<b>I. Postanowienia ogólne</b></br></br>
1. Poniższy tekst stanowi regulamin sklepu internetowego (dalej: „Regulamin”), prowadzonego pod adresem prabike.pl (dalej: „Sklep”). Administratorem i właścicielami Sklepu są:  </br>     
Marcin Chodorowski prowadzący działalność gospodarczą pod nazwą: PRAbike Marcin Chodorowski z siedzibą 63-900 Rawicz ul. Sportowa 30.</br>
Na podstawie wpisu do Centralnej Ewidencji i Informacji o Działalności Gospodarczej pod numerem NIP: 699-192-47-30, REGON: 362157416.</br>
2. Dane kontaktowe:</br>
PRAbike Sportowa 30, 63-900 Rawicz</br>
e-mail: buchar123@gmail.com</br>
tel.: +48 517 130 959 czynny od poniedziałku do piątku w godzinach 09.00 – 16.00 (koszt połączenia zgodny z taryfą operatora klienta)</br>
Konto: PLN ING Bank Śląski 74 1050 1520 1000 0092 1422 0585 </br>

3. Regulamin określa zasady, na jakich zawierane będą umowy sprzedaży towarów na odległość za pośrednictwem witryny Sklepu, działającego pod adresem prabike.pl</br>
4. Sprzedaż odbywa się za pośrednictwem Internetu w formie umowy zawieranej na odległość, pomiędzy składającym zamówienie (dalej: „Klient”), a sprzedającym (dalej: „Sprzedawca")</br>
5. Korzystanie ze Sklepu jest możliwe pod warunkiem spełnienia przez system teleinformatyczny, z którego korzysta klient następujących minimalnych wymagań technicznych:</br>
a) połączenie z siecią Internet,</br>
b) aktualna wersja przeglądarki Internet Explorer, Mozilla Firefox, Google Chrome lub Safari,</br>
c) obsługa plików cookie przez przeglądarkę,</br>
d) posiadanie aktywnego konta poczty elektronicznej.</br>
6. Dostęp do Regulaminu każdy użytkownik Sklepu może uzyskać w dowolnym momencie, poprzez „kliknięcie” linku „Regulamin” umieszczonego na stronie Sklepu, a także poprzez zapisanie jego wersji PDF na wybranym przez siebie nośniku.</br>
7. Towary w Sklepie są szczegółowo oznaczone. Na stronie internetowej znajdują się informacje w szczególności o właściwościach towaru oraz jego cenie.</br>
8. Wszystkie towary oferowane w Sklepie są nowe, wolne od wad fizycznych i prawnych.</br>
9. Ceny podane przez Sprzedającego wyrażone są w polskiej walucie i są cenami brutto. Ceny produktów nie zawierają kosztu dostawy, która zostanie podana w momencie składania zamówienia.</br>
 </br>
<b>II. Kontakt</b></br></br>
1.	Osobami uprawnionymi do kontaktu są:</br>
Daniel Buchar</br>
e-mail: buchar123@gmail.com   </br> 
tel. (0048) 517 130 959</br></br>
<b>III. Zasady korzystania ze Sklepu i zawierania umowy sprzedaży Towaru</b></br></br>
1. Umowa sprzedaży może być zawarta wyłącznie przez osobę pełnoletnią, posiadającą pełną zdolność do czynności prawnych.</br>
2. Warunkiem rozpoczęcia korzystania ze Sklepu jest zapoznanie się z niniejszym Regulaminem i jego akceptacja.</br>
3. Sklep umożliwia składanie zamówień na towary na stronie Sklepu (on-line), korzystając z procedury składania zamówienia. Możliwe jest również złożenie zamówienia telefonicznie jak również za pośrednictwem e-mail.</br>
4. Aktualną ofertę wraz z informacjami na temat dostępnych produktów i usług Sprzedawca zamieszcza na stronie internetowej.</br>
5. Sklep przyjmuje zamówienia składane on-line przez całą dobę, we wszystkie dni tygodnia. Realizacja zamówień odbywa się w dni robocze od poniedziałku do piątku w godzinach 9.00–16.00. Zamówienia złożone w dni wolne od pracy będą realizowane w pierwszym dniu roboczym następującym po dniu, w którym zamówienie zostało złożone.</br>
6. Zamówienia są przyjmowane poprzez poprawnie wypełniony elektroniczny formularz zamówienia, dostępny podczas procedury zakupu towarów. Kupujący wypełnia formularz zamówienia w sposób kompletny i zgodny z prawdą. W przypadku podania nieprawdziwych, niepełnych bądź błędnych danych Sprzedający będzie kontaktował się z Kupującym, wykorzystując informacje kontaktowe (adres e-mail, numer telefoniczny) podane przez Kupującego w formularzu zamówienia, w celu wyjaśnienia nieścisłości adresowych.</br>
7. Każde złożone zamówienie zostanie potwierdzone wiadomością e-mail z informacją o jego przyjęciu. Jeżeli wiadomość e-mail nie dotrze do Kupującego w terminie 2 dni roboczych od momentu złożenia zamówienia, proszony jest on wówczas o kontakt ze Sklepem.</br>
8. Termin realizacji zamówienia obejmuje okres:</br>
- od przyjęcia zamówienia do nadania przesyłki – maksymalnie 2 dni robocze, jeżeli towar dostępny jest w magazynie sprzedawcy;</br>
- ok. 2 dni robocze od dnia nadania przesyłki priorytetowej za pośrednictwem firmy kurierskiej.</br>
9. W przypadku tymczasowego braku towaru w magazynie sprzedawcy, okres realizacji zamówienia może ulec wydłużeniu. Wówczas sprzedawca informuje o tym klienta telefonicznie lub wiadomością e-mail, bezpośrednio po przyjęciu zamówienia.</br>
10. Klient może anulować bądź wprowadzić zmiany w zamówieniu dopóki nie otrzyma od Sklepu informacji o wysłaniu zakupionego towaru. Klient powinien w tym celu niezwłocznie skontaktować się ze Sklepem, w tym preferowany jest kontakt drogą telefoniczną.</br>
11. Umowa sprzedaży zawierana jest w języku polskim, o treści zgodnej polskim prawem, niniejszym Regulaminem oraz złożonym przez Klienta zamówieniem.</br>
12. Sklep ma prawo odstąpić od umowy, jeżeli produkt z jakiegokolwiek powodu nie jest dostępny. W takim przypadku Sklep poinformuje Klienta o tym fakcie i zwróci wszelkie dokonane płatności.</br>
 </br>
<b>IV. Metody płatności</b></br></br>
1. Klient płaci cenę za zamówiony Towar wraz z kosztami dostawy według wyboru:</br>
a) „za pobraniem” spedytorowi firmy kurierskiej w miejscu dostawy,</br>
2. Realizacja zamówienia płatnego przelewem, rozpoczyna się po otrzymaniu należności za towar.</br>
V. Dostawa i odbiór Towarów</br>
1. Towary dostarczane są na adres wskazany przez Klienta w formularzu zamówienia. Klienci uprawnieni są do wskazania miejsca dostawy towarów poza terytorium Rzeczpospolitej Polskiej.</br>
2. Wysyłka na terenie Rzeczypospolitej Polskiej realizowana jest za pośrednictwem firmy kurierskiej InPost. </br>
3. Koszty wysyłki zostaną doliczone do kosztu zamówionych towarów i podane Klientowi w momencie składania zamówienia.</br>
4. Czas realizacji zamówienia oznacza czas w jakim Sklep skompletuje zamówienia i przygotuje do wysyłki.</br>
5. Po złożeniu zamówienia Sklep będzie wysyłał Klientowi na podany w elektronicznym formularzu zamówienia adres e-mail aktualizacje statusu zamówienia.</br>
6. Na życzenie Klienta sprzedawca udostępni Klientowi dane o dacie wysyłki i numerze przesyłki.</br>
 </br>
<b>VI. Prawo odstąpienia od Umowy</b></br></br>
1. Klient będący Konsumentem, w rozumieniu art. 221 Kodeksu cywilnego, może w terminie 14 dni od dnia objęcia rzeczy w posiadanie przez konsumenta lub wskazaną przez niego osobę trzecią inną niż przewoźnik odstąpić od umowy – zgodnie z Ustawą o prawach konsumenta z dnia 30 maja 2014r. (Dz.U. z 2014r., poz. 827), dalej: „Ustawa”. Do zachowania terminu wystarczy wysłanie jednoznacznego oświadczenia (pismo wysłane pocztą na adres: ul. Waszyngtona 26/1, 42-200 Częstochowa lub pocztą elektroniczną: shop@banana-bikes.com) przed upływem terminu wskazanego powyżej.</br>
2. Konsumentowi nie przysługuje prawo do odstąpienia w przypadkach określonych w art. 38 Ustawy, w tym w szczególności w przypadku towaru wyprodukowanego według specyfikacji Konsumenta lub służących zaspokojeniu jego zindywidualizowanych potrzeb.</br>
3. Oświadczenie o odstąpieniu od umowy Konsument może złożyć na formularzu, który stanowi załącznik nr 2 Ustawy, na formularzu dostępnym pod adresem sklep.banana-bikes.com (załącznik nr 1 Regulaminu) lub w innej formie zgodnej z Ustawą.</br>
4. Sprzedający niezwłocznie potwierdzi Konsumentowi na adres e-mail, który został podany przy zawieraniu umowy oraz inny, jeżeli został podany na złożonym oświadczeniu, otrzymanie oświadczenia o odstąpieniu od umowy.</br>
5. Konsument ma obowiązek zwrócić rzecz Sprzedawcy (na adres: ul. Sportowa 30, 63-900 Rawicz) niezwłocznie, nie później niż 14 dni od dnia, w którym odstąpił od umowy. Do zachowania terminu wystarczy odesłanie rzeczy przed upływem powyższego terminu.</br>
6. Konsument odsyła towar na własny koszt i ryzyko.</br>
7. Sprzedający niezwłocznie, nie później niż w terminie 14 dni od dnia otrzymania oświadczenia o odstąpieniu od umowy złożonego przez Konsumenta zwróci Konsumentowi wszystkie dokonane przez niego płatności, w tym koszty dostarczenia rzeczy (z wyjątkiem dodatkowych kosztów wynikających z wybranego przez Kupującego sposobu dostarczenia innego niż najtańszy zwykły sposób dostarczenia oferowany przez Sklep). Zwrot płatności dokonany zostanie przy użyciu takich samych sposobów płatności, jakie zostały przez Klienta użyte w pierwotnej transakcji, chyba że Klient wyraźnie zgodził się na inne rozwiązanie. Sprzedający nie zwróci Konsumentowi dodatkowych kosztów zgodnie z art. 38 Ustawy.</br>
8. Produkt musi zostać zwrócony w stanie niezmienionym, chyba że zmiana była konieczna w granicach zwykłego zarządu. Produkt zwracany powinien być nieużywany, czysty, z przyczepionymi metkami i zapakowany w sposób zapewniający brak uszkodzeń przesyłki w trakcie transportu.</br>
 </br>
<b>VII. Reklamacja i Gwarancja</b></br></br>
1. Sprzedający wyłącza odpowiedzialność wobec Klientów (niebędących Konsumentami) z tytułu wad fizycznych i prawnych (rękojmia) na podstawie treści przepisu art. 558 § 1 Kodeksu cywilnego.</br>
2. Sprzedający ponosi odpowiedzialność wobec Konsumenta na zasadach określonych przepisami Kodeksu cywilnego oraz Ustawą.</br>
3. Wada fizyczna towaru polega na niezgodności rzeczy sprzedanej z umową, a więc jeśli towar nie posiada właściwości, które powinien mieć ze względu na cel umowy, wynikający z okoliczności lub przeznaczenia, nie ma właściwości, o których Sprzedawca zapewnił Kupującego, nie nadaje się do celu, o którym Kupujący poinformował Sprzedawcę przy zawarciu umowy, a Sprzedawca nie zgłosił zastrzeżeń co do takiego przeznaczenia, towar został wydany Kupującemu w stanie niezupełnym.</br>
4. Wada prawna towaru zachodzi wówczas, gdy towar stanowi własność osoby trzeciej albo jest obciążany prawem osoby trzeciej, gdy ograniczenia w korzystaniu lub rozporządzaniu wynika z decyzji lub ograniczenia właściwego organu.</br>
5. W przypadku Konsumenta na równi z zapewnieniem Sprzedawcy traktuje się publiczne zapewnienia producenta lub podmiotu, który wprowadza towar do obrotu w zakresie swojej działalności gospodarczej, lub która przedstawia się jako producent. Sprzedawca nie ponosi jednak odpowiedzialności, gdy zapewnień tych nie znał, ani nie mógł ich znać, albo gdy zapewnienia te nie mogły mieć wpływu na decyzję Konsumenta o zawarciu umowy sprzedaży, a także gdy treść tych zapewnień została sprostowana przed zawarciem umowy sprzedaży.</br>
6. Sprzedawca odpowiada z tytułu rękojmi, jeżeli wada fizyczna zostanie stwierdzona przed upływem dwóch lat od dnia wydania rzeczy Kupującemu.</br>
7. W przypadku Konsumenta, gdy wada fizyczna została stwierdzona przed upływem roku od dnia wydania towaru, domniemywa się, że wada lub jej przyczyna istniała w chwili wydania towaru.</br>
8. Sprzedawca jest odpowiedzialny za tytułu rękojmi za wady fizyczne towaru, które istniały w chwili przejścia niebezpieczeństwa na Kupującego lub wynikły z przyczyny tkwiącej w rzeczy sprzedanej w tej samej chwili.</br>
9. Jeżeli towar ma wadę, Kupujący może złożyć oświadczenie o obniżeniu ceny albo odstąpieniu od umowy, chyba że Sprzedawca niezwłocznie wymieni wadliwy towar na wolny od wad albo wadę usunie. Ograniczenie to nie ma zastosowania, jeżeli towar był już wymieniany lub naprawiany przez Sprzedawcę albo Sprzedawca nie uczynił zadość obowiązkowi wymiany towaru na wolny od wad lub usunięcia wady.</br>
10. Jeżeli towar ma wadę, Kupujący może również żądać wymiany rzeczy na wolną od wad albo usunięcia wady.</br>
11. Konsument może zamiast zaproponowanego przez Sprzedawcę usunięcia wady żądać wymiany towaru na wolny od wad albo zamiast wymiany towaru żądać usunięcia wady, chyba że doprowadzenie towaru do zgodności z umową w sposób wybrany przez Konsumenta jest niemożliwe albo wymagałoby nadmiernych kosztów w porównaniu ze sposobem proponowanym przez Sprzedawcę.</br>
12. Kupujący nie może odstąpić od umowy, jeżeli wada jest nieistotna.</br>
13. W przypadku skutecznego odstąpienia od umowy Sprzedawca zobowiązuje się dokonać zwrotu płatności w terminie 14 dni od dnia otrzymania odstąpienia od umowy, z zastrzeżeniem, że zwrot płatności nie nastąpi do chwili otrzymania Towaru z powrotem lub dostarczenia przez Konsumenta dowodu jego odesłania.</br>
14. Reklamację dotyczącą niezgodności towaru z umową należy przesłać na adres:</br>
ul. Sportowa 30</br>
63-900 Rawicz.</br>
15. Składając reklamację należy dostarczyć Sprzedawcy na jego koszt produkt reklamowany wraz z dowodem zakupu i opisem niezgodności towaru z umową.</br>
16. Sprzedawca zobowiązuje się ustosunkować do reklamacji w terminie 14 dni od dnia jej otrzymania.</br>
17. Jeżeli reklamacja jest uzasadniona Sprzedawca zobowiązuje się wymienić wadliwy towar na wolny od wad lub usunąć wadę w terminie 14 dniu od dnia zgłoszenie reklamacji przez Kupującego.</br>
18. Roszczenie o usunięcie wady lub wymianę towaru na wolny od wad przedawnia się z upływem roku, licząc od dnia stwierdzenia wady. W przypadku Konsumenta, bieg terminu przedawnienia nie może zakończyć się przed upływem dwóch lat.</br>
 </br>
<b>VIII. Paragony i faktury</b></br></br>
Do każdego zrealizowanego zamówienia dołączany jest dokument zakupu w postaci rachunku. </br>
IX. Polityka prywatności oraz bezpieczeństwo danych osobowych.</br>
1. Administratorem danych osobowych przekazywanych przez Klientów Sklepu jest Sprzedający.</br>
2. Dane osobowe są chronione zgodnie z ustawą z dnia 29 sierpnia 1997 rok o ochronie danych osobowych (Dz.U. 2002 r. Nr 101, poz. 926 z późn. zm.) oraz ustawą z dnia 18 lipca</br>
2002 roku o świadczeniu usług drogą elektroniczną (Dz. U. nr 144, poz. 1204 z późn. zm.).</br>
3. W momencie rejestracji Klient wyraża zgodę na przetwarzanie danych osobowych przez Sprzedającego w celu realizacji zamówienia. Kupujący ma prawo żądać, aby dane osobowe przechowywane przez Sprzedającego zostały uzupełnione, uaktualnione, sprostowane, usunięte.</br>
4. Szczegółowe zasady zbierania, przetwarzania i przechowywania danych osobowych wykorzystywanych w celu realizacji zamówień znajdują się w Polityce Prywatności, która dostępna jest pod adresem prakibke.pl</br>
</br>
<b>X. Postanowienia końcowe.</b></br></br>
1. W sprawach nieuregulowanych Regulaminem zastosowanie mają prawo polskie, a w szczególności przepisy Kodeksu cywilnego oraz przepisu ustawy o prawach konsumenta.</br>
2. Sprzedający zastrzega prawo od zmiany zapisów Regulaminu. O każdej zmianie Regulaminu Sprzedawca powiadomi Klientów poprzez publikację jednolitego tekstu Regulaminu na stronie internetowej. Zamówienia złożone przez Klientów przed wejściem w życie zmian Regulaminu są realizowane według dotychczasowych postanowień Regulaminu.</br>
3. Sądem właściwym dla rozstrzygania sporów jest sąd miejscowo właściwy wg. obowiązujących przepisów.</br>
</br></br></br>
</p>
</div>
{% endblock %}