{% extends "apka/base.html" %}

{% block title %}
    Regulamin | Internetowy modowy sklep rowerowy
{% endblock %}

{% block content %}
<div class="container">
<br>
    <h4><b>Regulamin</b></h4>
    <br><br>
	<center><h3><b>Zwrot <span style="text-decoration: underline;">w ciągu 14 dni</span> od daty otrzymania zamówienia</h3></b></center>
	<br><br>
	<b>Spakuj produkty oraz wypełnij formularz zwrotu.</b><br><p style="text-align:justify;">
Wypełnij formularz zwrotu - <a style="color:red;" href="https://s3.amazonaws.com/polishbike/formularz-zwrotu.pdf">FORMULARZ</a>. Upewnij się, że wypełniłaś go prawidłowo i umieśc w przesyłce ze zwracanymi produktami.<p>
 <br><br>
		<b>Wyślij produkty na nasz adres.</b><br><center>
	» Polish Bike<br>
	» ul. Edwarda Suchardy 4/8<br>
	» 50-362 Wrocław<br></center><br>
<p style="text-align:justify;">
	Sugerujemy wysyłkę za pośrednictwem renomowanej firmy kurierskiej lub przesyłki rejestrowanej Poczty Polskiej. Pamiętaj, że nie akceptujemy przesyłek pobraniowych lub paczkomatami.</p>
	 
	<br><br>
	  <b>Oczekuj na zwrot środków.</b><br>
	  <p style="text-align:justify;">Środki zwracane są w ciągu 14 dni od daty otrzymania przesyłki. Odpowiadasz za zmniejszenie wartości zwracanego produktu, wynikające z korzystania z niej w sposób inny niż było to konieczne do stwierdzenia charakteru, cech i funkcjonowania rzeczy. Jeżeli wartość zwracanego towaru została zmniejszona, wysokość zwrotu może zostać obniżona.</p>
	   </div><br>
{% endblock %}