{% extends "apka/base.html" %}

{% block title %}
    Dziekujemy
{% endblock %}

{% block content %}
<div class="container">
<center>
<br>
    <h1>Dziękujemy, że jesteś z nami!</h1><br>
    <p>Twoje zamowienie zostało przyjęte do realizacji.</p>
	<!--<p>Tutaj możesz pobrać <a style="color:red;" href="http://localhost:8007/pdf/">dowód zakupu</a> w pormacie PDF.</p>-->
	<p>W przeciągu 24 godzin dostaniesz e-mail potwierdzajacy zamowienie.</p>
	<center>
	<img style="height: 305px; width: 305px;" src="https://s3.amazonaws.com/polishbike/hook-1425312_640.png">
	</center>
<br>
</center>
</div>
{% endblock %}